@font-face {
    font-family: HankenGrotesk;
    src: url("HankenGrotesk-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: HankenGrotesk;
    src: url("HankenGrotesk-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: HankenGrotesk;
    src: url("HankenGrotesk-ExtraBold.ttf");
    font-weight: 800;
}
body{
    font-family: HankenGrotesk;
}
image {
    float: left;
}
.wrapper {
    
    margin:auto;
    width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.result {
    font-weight: 700;
    font-size: 24px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    color: lightgray;
    text-align: center;
    border-radius: 25px;
    justify-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 60px;
}
#circle {
    line-height: 70%;
    margin: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 80px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    position: relative;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

#circle div {
    font-weight: 500;
    font-size: 18px;
    color: lightgray;
}
.explain {
    line-height: 80%;
    font-size: 30px;
    color: white;
}
.explain span {
    line-height: 50%;
    font-weight: 500;
    font-size: 18px;
    color: lightgray;
}
.summary {
    font-weight: 700;
    font-size: 24px;
    display: grid;
    border-radius: 25px;
    padding: 30px;
}
#reaction {
    height: 25px;
    font-size: 20px;
    text-align: left;
    display: inline;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.05);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}
#memory {
    height: 25px;
    font-size: 20px;
    text-align: left;
    display: inline;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.05);
    border-radius: 10px;
    padding: 15px;
}
#verbal {
    height: 25px;
    font-size: 20px;
    text-align: left;
    display: inline;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.05);
    border-radius: 10px;
    padding: 15px;
}
#visual {
    height: 25px;
    font-size: 20px;
    text-align: left;
    display: inline;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.05);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}
#continue {
    align-items: center;
    font-size: 18px;
    text-align: center;
    display: grid;
    color: whitesmoke;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    border-radius: 30px;
    padding: 10px;
}
.alignleft{
    float: left;
}
img.a {
    vertical-align: auto;
    float: left;
}
.alignright {
    float: right;
}
score {
    color: black;
}
perfectscore {
    color: gray;
}
@media screen and (max-width: 750px) {
    .wrapper {
        width: 375px;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;  
    }
  }