@font-face {
    font-family: HankenGrotesk;
    src: url("HankenGrotesk-Bold.ttf");
}
body{
    font-family: HankenGrotesk;;
}
image {
    float: left;
}
.wrapper {
    margin:auto;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.result {
    display: grid;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    color: white;
    text-align: center;
    border-radius: 25px;
    justify-items: center;
    padding: 20px;
}
#circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    }
.summary {
    display: grid;
    border-radius: 25px;
    padding: 20px;
}
#reaction {
    text-align: left;
    display: inline;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#memory {
    text-align: left;
    display: inline;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
#verbal {
    text-align: left;
    display: inline;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
#visual {
    text-align: left;
    display: inline;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}
#continue {
    text-align: center;
    display: grid;
    color: white;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    border-radius: 25px;
    padding: 10px;
}
.alignleft{
    float: left;
}
img.a {
    vertical-align: auto;
    float: left;
}
.alignright {
    float: right;
}
score {
    color: black;
}
perfectscore {
    color: gray;
}